<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <a class="logo" routerLink="/">
    <img class="img-logo" src="assets/logos/Roga_logo_white@2x.png" alt="Roga Logo" />
    </a>
  <ul class="nav flex-column justify-content-center h-100">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Our Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
