<main>
  <a class="btn btn-roga" href="#">Shop Our Sakes</a>
  <div id="story-wrap" class="container">
    <div class="row">
      <div class="col-md-1">
        </div>
      <div class="col-md-5">
        <img class="img-fluid mh-6" src="assets/images/junmai-daiginjo-sake.png" alt="red-sake" />
        </div>
        <div class="col-md-5">
          <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1>Our Story
              </h1>
              <p>
                The name ROGA was inspired by a traditional Japanese poem. ROGA is a traveler who has come a long way from home, has an adventurous spirit, and is looking for new discoveries.
                Along the journey they look up at the night sky as they drift off to sleep and are reminded of where they came from and their roots.</p>

                <p>This parallels our journey from Japan to the United States. ROGA is a second generation Sake label with a mission to introduce high-quality domestic Sake for everyone to enjoy. Drinking sake is fun and festive. Make everyday a celebration with the bright aroma of ROGA.
                </p>
                <div class="img-wrap mt-30">
                  <img class="img-fluid" src="assets/images/story4@2x.png" alt="" />
                  </div>
            </div>
          </div>
          <div class="col-md-1">
            </div>
      </div>
    </div>
  </main>
